* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body , #root {
  height: 100%;
}
.link{
  text-decoration: none;
}
.boton{
text-align: center;
border-radius: 10px;
box-shadow: -1px -1px 28px -3px rgba(0,0,0,0.39);
margin: 5px;
}
